@import '@fontsource/fira-mono';

:root {
	--font-family: "Lora", sans-serif;
	--second-family: "Roboto", sans-serif;
	--third-family: "Spartan", sans-serif;
}

* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	overflow-x: hidden;
}